/* NavBar */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    z-index: 20;
    background-color: white;
}

.navbar a::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 0;
    left: 0;
    height: 2px;
    background: #fd0000;
    transition: .3s;
    z-index: 20;
}
.navbar a:hover::before {
    width: 100%;
    z-index: 20;
}
.navbar a {
    position: relative;
    font-size: 20px;
    color: #000000;
    font-weight: 500;
    text-decoration: none;
    z-index: 20;
}
/* Actual Css */

hr {
    background-color: rgb(0, 0, 0);
    border: 7px solid rgb(0, 0, 0);
    height: 10px;
    width: 100%;
    position: fixed;
    z-index: 21;
    opacity: 1;
    left: 0px;
}
h1 {
    position: relative;
    font-size: 110px;
    z-index: 2;
    text-align: start;
    display: flex;
}
body {
    overflow-x: hidden;
}
.bigimg {
    position: absolute;
    right: 95px;
    top: 120px;
    height: 700px;
    z-index: 1;
}
.overlap {
    position: relative;
    margin-top: 150px;
    z-index: 2;
}
.text {
    font-size: 30px;
    text-align: start;
    color: #000000;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-success {
    border: #80ea99 ;
    background-color: #80ea99 ;
    border-radius: 70px 70px 70px 70px;
    height: 80px;
    width: 300px;
}
img {
    height: 20px;
}
.btn-outline-light {
    border: solid #8e7bff 2px;
    background: #8e7bff;
    border-radius: 70px 70px 70px 70px;
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
    width: 150px;
}
.card-body {
    background-color: #8e7bff;
    border-radius: 20px 20px 20px 20px ;

    justify-content: center;
}
img {
    height: 80px;
    display: flex;
    justify-content: start;
}
.white-text {
    color: white;
    display: flex;
    justify-content: start;
}
.hor-centr {
    display: flex;
    justify-content: center;
}
.card {
    border: none;
}
